/* =============
    Hero
============= */
#Hero{
    background-image: url("../img/hero/bg1.jpg");
    display: grid;
        grid-template-areas: ". name flower .";
        grid-template-columns: 50px 950px 100px 50px;
    background-repeat: no-repeat;
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    div {
        h1 
        {font-family: 'Stick No Bills', sans-serif;
        color: white;}
        text-align: center;
        padding-left: 400px;
        padding-top: 90px;
        padding-bottom: 200px;
        grid-area:name;
    }
    #flower{
        text-align: left;
        grid-area:flower;


    }
}