/* =============
    Info
============= */
#info {
    margin-top: 30px;
    background-image: url("../img/info/line.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
    background-position: 100% 20%;
    display: grid;
    grid-template-columns: auto 80% 1px;
    grid-template-areas: ". sun";


    >div {
        grid-area: sun;


        #line {
            display: none;
            grid-area: line;
            width: 100%;
            padding-top: 80px;
        }

        #sun {
            grid-area: sun;

        }

        #full {
            display: none;
        }


        article {
            // text-align: justify;
            padding: 1px 35vw 20px 18vw;
            font-family: 'Ruda';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 37px;
            font-family: 'Ruda', sans-serif;

            @include md{
                font-size: 20px;
            }

            @include lg{
                font-size: 25px;
                padding: 1px 35vw 20px 18vw;
            }
        }
    }

}