/* =============
    mbatter
============= */
#svg {
    #g{
        // width: 100vw;
        // height: 100vh;
        // margin: 0%;
        // padding: 90px;
        // position: absolute;

        // // display: flex;
        // justify-content: center;
        // align-items: center;
        background-color: lightyellow;
        display: grid;
        grid-template-columns: auto 95vw auto;
        grid-template-areas: ". mbatter .";
        grid-area: "mbatter";
        // height: 110vh;

        // @include md {
        //     grid-template-columns: auto 80vw auto;
        // }

        // @include lg {
        //     grid-template-columns: auto 85vw auto;
        // }

        // @include xl {
        //     grid-template-columns: auto 75vw auto;
        // }

    }
}