/* =============
    mbatter
============= */
#mbatterb {
    width: 100vw;
    height: 100vh;
    position: fixed;

    display: grid;
    grid-template-columns: auto 97vw auto;
    grid-template-areas: ". mbatter .";


    div {
        background-color: lightyellow;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: mbatter;
    }

}