#preloader {
    position: fixed;
    height: 100vh;
    width: 100%;
    // height: 100vh;
    // width: 100%;
    z-index: 1000;
    background-color: $bg;
    // display: grid;
    // grid-template-columns: auto 90vw auto;
    // grid-template-areas: ". preloader .";

    // @include md {
    //     grid-template-columns: auto 70vw auto;
    // }
    // @include lg {
    //     grid-template-columns: auto 60vw auto;
    // }
    // @include xl {
    //     grid-template-columns: auto 50vw auto;
    // }
    
    
    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;

        #frame2, #frame3, #frame4, #frame5, #frame6, #frame7, #frame8{
            visibility:hidden;
          }

        section{
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}