/* =============
    Navigation
============= */
nav {
    ul {

        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 20px;
        padding-right: 20px;

        li {
            margin-left: 4vw;

            a:link,
            a:visited {

                font-family: Ruda;
                font-style: normal;
                font-weight: normal;
                font-family: 'Ruda', sans-serif;
                color: $yellow;
                font-weight: 300;
                padding: 30px;

                text-align: center;

                &:hover,
                &:active {
                    color: $orange;
                }
            }
        }
    }
}